@if(_isLoading){
    <div class="spinner-overlay">
      <mat-spinner></mat-spinner>
    </div>
  }
<div class="container-fluid p-0 m-0" style="height: 100% !important;">
    <div class="row p-0 m-0">
        <div class="col-md-12 p-2 m-0" style="padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;">
            <mat-card-title>
                <h1 class="text-title-color" style="float:left !important;">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Öğrenci Kartı
                </h1>
            </mat-card-title>
            <button mat-icon-button color="warn" style="float:right !important;" (click)="MatDialogClose();">
                <mat-icon>close</mat-icon>
              </button>
              <button mat-icon-button color="primary" style="float:right !important;" (click)="recordOfStudentReload()">
                <mat-icon>refresh</mat-icon>
              </button>
              <button mat-icon-button color="primary" style="float:right !important;"  (click)="studentUpdate()">
                <mat-icon>done_outline</mat-icon>
            </button>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="col-md-3 col-sm-12 p-4 m-0 pr-0">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title color="primary">Öğrenci Bilgileri</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <mat-form-field>
                            <mat-label>UID</mat-label>
                            <input matInput [(ngModel)]="userInfo.userUID" [readonly]="true" [disabled]="true">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Ad</mat-label>
                            <input matInput [(ngModel)]="userInfo.ad">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Soyad</mat-label>
                            <input matInput [(ngModel)]="userInfo.soyad">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Telefon</mat-label>
                            <input matInput [(ngModel)]="userInfo.telefon">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>E-Posta Adresi</mat-label>
                            <input matInput [(ngModel)]="userInfo.eposta">
                        </mat-form-field>

                        <mat-list role="list">
                            <div class="row">
                                <mat-divider></mat-divider>

                                <div class="col-12">
                                    <mat-list-item>
                                        <mat-icon matListItemIcon>person_add</mat-icon>
                                        <div matListItemTitle>Oluşturan</div>
                                        <div matListItemLine>{{ userInfo.isCreatedUser.kullaniciAdi }}</div>
                                      </mat-list-item>
                                </div>
                                <div class="col-12">
                                    <mat-list-item>
                                        <mat-icon matListItemIcon>calendar_month</mat-icon>
                                        <div matListItemTitle>Oluşturma Tarihi</div>
                                        <div matListItemLine>{{ userInfo.isCreatedDate | date: 'dd.MM.yyyy - HH:mm' }}</div>
                                      </mat-list-item>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="col-12">
                                    <mat-list-item>
                                        <mat-icon matListItemIcon>manage_accounts</mat-icon>
                                        <div matListItemTitle>Güncelleyen</div>
                                        <div matListItemLine>{{ userInfo.isModifiedUser.kullaniciAdi }}</div>
                                      </mat-list-item>
                                </div>    
                                <div class="col-12">
                                    <mat-list-item>
                                        <mat-icon matListItemIcon>calendar_month</mat-icon>
                                        <div matListItemTitle style="font-size:smaller">Güncelleme Tarihi</div>
                                        <div matListItemLine>{{ userInfo.isModifiedDate | date: 'dd.MM.yyyy : HH:mm' }}</div>
                                      </mat-list-item>
                                </div>
                                <mat-divider></mat-divider>

                            </div>
                                                        
                          </mat-list>
                          
                </mat-card-content>      
                          
            </mat-card>
            
        </div>
        <div class="col-md-9 col-sm-12 p-4 m-0 pl-0">
            <mat-card class="example-card">
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Güncel Sınav Hareketleri"> 
                              <div class="row mb-3 mt-2">
                                <div class="col-md-4 col-sm-12">
                                    <button mat-flat-button color="primary" (click)="studentExamSet()" class="w-100"><mat-icon>add</mat-icon>Sınav Kaydı(Tek)</button>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <button mat-flat-button color="accent" class="w-100"><mat-icon>difference</mat-icon>Sınav Kaydı(Çoklu)</button>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <button mat-flat-button color="warn" class="w-100" (click)="examScoreChartDialog()"><mat-icon>bar_chart</mat-icon>Sınav/Başarı Grafiği</button>
                                </div>
                                <div class="col-md-4 col-sm-6 mt-1">
                                    <div class="card text-bg-primary w-100">
                                        <div class="card-header">Katıldığı Sınavlar</div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ userInfo.toplamKatilim | number:'1.2-2' }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mt-1">
                                        <div class="card text-bg-info w-100">
                                            <div class="card-header">Katılacağı Sınavlar</div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{ userInfo.toplamBekleyen | number:'1.2-2'  }}</h5>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-4 col-sm-6 mt-1">
                                        <div class="card text-bg-warning w-100">
                                            <div class="card-header">Tüm Sınavlar</div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{ userInfo.toplamSinavKayit | number:'1.2-2' }}</h5>
                                            </div>
                                        </div>
                                </div>
                         
                            </div>
                            <app-eaxm-records-of-student [userUID]="userInfo.userUID"></app-eaxm-records-of-student>
                        </mat-tab>
                        <!-- <mat-tab label="Kitap Hareketleri"> Planlandı Yapım Aşamasında </mat-tab> -->
                        <mat-tab label="Öğrenci Logları">
                            <app-log-list [UID]="this.studentUID"></app-log-list>

                        </mat-tab>
                      </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>