<h2 mat-dialog-title class="text-center">
    <mat-icon>person</mat-icon> <br />
    Ders Yeni Oturum Kartı
  </h2>
  <mat-dialog-content>
    <div class="row">
      <form class="example-form" [formGroup]="newLessonSessionFormGroup">
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <mat-label>Tarih</mat-label>
            <input matInput type="date" placeholder="Oturum Tarihi" formControlName="tarih" name="tarih" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <mat-label>Başlangıç Saati</mat-label>
            <input matInput type="time" placeholder="Başlangıç Saati" formControlName="baslangic" name="baslangic" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <mat-label>Bitiş Saati</mat-label>
            <input matInput type="time" placeholder="Bitiş Saati" formControlName="bitis" name="bitis" />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <mat-label>Öğretim Görevlisi</mat-label>
            <mat-select formControlName="teacherUID">
                @for (teacher of teachers; track $index) {
                  <mat-option [value]="teacher.uid">{{teacher.ad}} {{teacher.soyad}}</mat-option>
                }
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <button mat-flat-button color="warn" class="w-100" mat-dialog-close>İptal</button>
        </div>
        <div class="col-6">
          <button mat-flat-button color="primary" class="w-100" cdkFocusInitial (click)="newLessonSession()" [disabled]="newLessonSessionFormGroup.invalid">Kaydet</button>
        </div>
      </div>
    </div>
  </mat-dialog-actions>
  <mat-progress-bar [mode]="progressBarMode" [value]="progressBarValue"></mat-progress-bar>

  