@if(isLoading){
    <div class="spinner-overlay">
      <mat-spinner></mat-spinner>
    </div>
  }
<div class="row">
    <div class="col-md-12 col-sm-12 m-0 p-0">
        <div class="row">
            <div class="col-md-12 col-sm-6 p-0 m-0">
                <mat-card>
                    <mat-card-header><mat-icon fontIcon="person"></mat-icon>  Öğrenci İşlemleri</mat-card-header>
                    <mat-card-content>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="primary" (click)="openDialog()"><mat-icon>person_add</mat-icon> Yeni Öğrenci Kartı</button>
                              <button mat-flat-button color="accent"><mat-icon>content_paste_search</mat-icon> Öğrenci Raporları</button>
                              <button mat-flat-button color="warn"><mat-icon>person_alert</mat-icon> Öğrenci Logları</button>
                            </div>
                          </section>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 m-0 p-0 mt-1">
        <mat-card>
          <mat-card-header>Güncel Öğrenci Listesi</mat-card-header>
          <mat-card-content class=" p-0 m-0">
            <app-student-list></app-student-list>
          </mat-card-content>
        </mat-card>
    </div>
</div>
